.why_choose_us {
    background-color: #272727;
    padding-block: 50px 0px;
    overflow: hidden;
}
.why_choose_us h1,.why_choose_us h2 {font-size: 44px;}
.why_choose_us .col_card {
    padding: 40px;
    text-align: right;
    margin-block:20px ;
}
.why_choose_us .col_card p {margin-top: 20px;}
.why_choose_us .col_card:nth-child(1) {
    background-color: #151515;
}
.why_choose_us .col_card:nth-child(2) {
    background-color: #222122;
}
.why_choose_us .col_card:nth-child(3) {
    background-color: #151515;
}
.why_choose_us .col_card:nth-child(4) {
    background-color: #222122;
}
.why_choose_us .col_card .gradient {
    background: var(--gradient);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 20px 0;
}