.our_projects {padding: var(--pd-60);background-color: var(--div-bg);}
.our_projects h1,.our_projects h2 {font-size: 44px;}
.our_projects .card_image {
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 0;
    background-color: var(--basic-color);
}
.our_projects .card_image img {
    width: auto;
    max-height: 200px;
    margin: auto;
    display: block;
}
.our_projects .btns {
    margin: 10px 0;text-align: center;
}
.our_projects .btns button {
    background-color: var(--basic-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 25px;
    padding: 10px 20px;
    margin: 4px;
    font-size: 13px;
    transition: all .3s ease-in-out;
}
.our_projects .btns button.active {
   background: var(--gradient);
    color: var(--basic-color);
    border: 1px solid transparent;
}
.our_projects .all_projects {
    background: var(--gradient);
    padding: 14px 40px;
    border-radius: 45px;
    display: inline-block;
    margin: 20px 0;
    color: var(--basic-color);
}
.project_links {
    display: flex;
    justify-content: center;
}
.project_links .link {
    background-color: var(--basic-color);
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid;
    margin: 3px 3px 10px 3px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .2);
}
.project_card img {width: 100%;}
.project_card {
    overflow: hidden;
}