.about {
    background-color: #272727;
    padding: var(--pd-60);
}
.about h1,.about h2 {font-size: 44px;}
.about .gradient {
    background: var(--gradient);
    border-radius: 25px;
    margin: 30px auto;
    height: 20px;
    width: 400px;
}
.about p {color: var(--light-white);}