/* breadcrumb */
.breadcrumb {background-color: var(--div-bg);position: relative;margin-bottom: 0;}
.breadcrumb ul li {
  display: inline-block;
  margin-inline: 3px;
  font-size: 13px;
  color: #000;
}
.breadcrumb ul li a {color: #000;}
.breadcrumb ul li span.active {
  color: var(--main-color);
}

.breadcrumb ul li a {
  color: #333 !important;
}